<div class="row">
  <br>
  <%= form_for(@slot, html: { class: 'col s12' }) do |f| %>
    <% if @slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slot.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @slot.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :from, 'From (YYYY-MM-DD HH:MM) UTC', class: 'active'%>
        <%= f.datetime_local_field :from %>
      </div>

      <div class="input-field col s6">
        <%= f.label :to, 'Until (YYYY-MM-DD HH:MM) UTC', class: 'active' %>
        <%= f.datetime_local_field :to %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :formation_size, class: 'active' %>
        <%= f.select :formation_size, Slot::FORMATION_SIZES.map { |s| [s, s] }, {}, { class: 'browser-default' } %>
      </div>
      <div class="input-field col s6">
        <%= f.label :formation_type, class: 'active' %>
        <%= f.text_field :formation_type %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :formation_quantity, class: 'active' %>
        <%= f.number_field :formation_quantity %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit class: 'btn' %>
    </div>
  <% end %>
</div>
